@charset "UTF-8";

body {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 150px 1fr 150px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column: 4/10;
	grid-row: 2;
	background-color: #2660B5;
	padding: 15px;
	border-radius: 15px;
}

.container img {
	grid-row: 1;
	grid-column: 3;
}

.container .btnPokemonGroup {
	grid-row: 2;
	grid-column: 3;
}

.container .btnDresseurGroup {
	grid-row: 3;
	grid-column: 3;
}

@media screen and (max-width: 600px) {
	/* Small screen, non-retina */
	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		background-position: center;
	}
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column: 1;
	}
	
	.container img, .container .btnPokemonGroup, .container .btnDresseurGroup {
		grid-column: 2;
	}
}