@charset "UTF-8";

@import
	url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon)
	;

body {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 150px 1fr 150px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	display: grid;
	grid-template-columns: 100px repeat(3, 1fr) 100px;
	grid-template-rows: repeat(3, 1fr);
	grid-column: 4/10;
	grid-row: 2;
	background-color: #2660B5;
	padding: 15px;
	border-radius: 15px;
}

.container a{
	text-decoration: none;
}

.container div{
	background-color: #E7E6DD;
}
.container img {
	grid-row: 1;
	grid-column: 3;
}

.container .btnPokemonGroup {
	grid-row: 2;
	grid-column: 2/5;
}

.container .btnDresseurGroup {
	grid-row: 3;
	grid-column: 2/5;
}

@media screen and (max-width: 600px) {
	/* Small screen, non-retina */
	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		background-position: center;
	}
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column: 1;
	}
	.container img, .container .btnPokemonGroup, .container .btnDresseurGroup{
		grid-column: 2;
	}
}