<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Pokédex Online</title>
<link th:href="@{/css/main.css}" rel="stylesheet" />

</head>
<body>

	<div class="container">
		<img th:src="@{/images/Logo.png}" style="margin-bottom: 15px;" />

		<div class="btnPokemonGroup" style="margin-bottom: 15px; display:table-cell; vertical-align:middle; text-align:center; color: black; font-size: 2em;">
			<a th:href="@{/pokedex}">Montre les tous !</a>
		</div>

		<div class="btnDresseurGroup" style="display:table-cell; vertical-align:middle; text-align:center; color: black; font-size: 2em;">
			<a th:href="@{/dresseurs}">Les meilleurs dresseurs !</a>
		</div>
	</div>
</body>
</html>