<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pokédex National</title>
<link th:href='@{/css/pokedex.css}' rel='stylesheet' />
</head>
<body>

<div id=Poketable>
	<table>
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom du Pokémon</th>
				<th>PV</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
		<tr th:if="${pokemons.empty}">
			<td colspan="3">Aucun Pokémon en base de données</td>
		</tr>
		<tr th:each="pokemon: ${pokemons}">
		<td><span th:text="${pokemon.number}"> Numéro </span></td>	
		<td><span th:text="${pokemon.name}"> Nom </span></td>
		<td><span th:text="${pokemon.healthPoints}"> PV </span></td>
	<!-- 	</tr><td><span th:text="${type_pokemon.label}"> Type </span></td>  -->
		</tbody>
	
	</table>

</div>


</body>
</html>