<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pokédex National</title>
<link th:href='@{/css/pokedex.css}' rel='stylesheet' />
<link href="//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class=Logo>
<img th:src="@{/images/pokedex-3d.png}" class="Pnational"/>

<!--   <img th:src="@{/images/pokedex2(1).png}" /> -->
<p><button onclick="sortTable()"><img th:src="@{/images/pokedex2(1).png}" height="99" width="120"/></button></p>
</div>

<div id=Poketable>
	<table id="Pokedex">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom du Pokémon</th>
				<th>PV</th>
				<th>Type</th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
		<tr th:if="${pokemons.empty}">
			<td colspan="3">Aucun Pokémon en base de données</td>
		</tr>
		<tr th:each="pokemon: ${pokemons}">
		<td><span th:text="${pokemon.number}"> Numéro </span></td>	
		<td><span th:text="${pokemon.name}"> Nom </span></td>
		<td><span th:text="${pokemon.healthPoints}"> PV </span></td>
	<!-- 	</tr><td><span th:text="${type_pokemon.label}"> Type </span></td>  -->
		</tbody>
	
	</table>

</div>

<script>

function getPokemonImage(number){
    return `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${number}.png`
}



function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("Pokedex");
  switching = true;
  
  
  /*Make a loop that will continue until
  no switching has been done:*/
  
  
  while (switching) {
  
    //start by saying: no switching is done:
    
    switching = false;
    rows = table.rows;
    
    
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    
    
    for (i = 1; i < (rows.length - 1); i++) {
    
      //start by saying there should be no switching:
      
      shouldSwitch = false;
      
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      
      //check if the two rows should switch place:
      
            //regex pour récupérer les chiffres dans le span
      const rgx = /[0-9]+/;
      num1 = x.innerHTML.match(rgx);
      num2 = y.innerHTML.match(rgx);
      //check if the two rows should switch place:
      
      if (Number(num1) > Number(num2)) {
      
        //if so, mark as a switch and break the loop:
        
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
    
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
</body>
</html>