<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page d'accueil</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Ville</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${dresseurs.empty}">
				<td colspan="3">Aucun dresseur en base de données</td>
			</tr>
			<tr th:each="dresseur: ${dresseurs}">
				<td><span th:text="${dresseur.id}"> Id </span></td>
				<td><span th:text="${dresseur.name}"> Nom </span></td>
				<td><span th:text="${dresseur.ville}"> Ville
				</span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>

